<p>Your Personal Budget!</p>
<br>
<p>You can Start managing your budget now!</p>


<br>

<button (click)="addNewBudget()" class="btn btn-primary">
  Add New Budget
</button>

<button aria-label = "Show Charts" class="d-inline" (click)="getDataForCharts()">Show</button>

<div class="col-6">
  <h4>Bar Chart</h4>
  <app-bar-chart *ngIf="loadIndex == 2" [resetFormSubject]="resetFormSubject.asObservable()"></app-bar-chart>
</div>
<div class="col-6">
  <h4>Line Chart</h4>
  <app-line-chart *ngIf="loadIndex == 2" [resetFormSubject]="resetFormSubject.asObservable()"></app-line-chart>
</div>
<div class="col-6">
  <h4>Pie Chart</h4>
  <app-pie-chart *ngIf="loadIndex == 2" [resetFormSubject]="resetFormSubject.asObservable()"></app-pie-chart>
</div>
<div class="text-box">
  <p>
      <canvas id="myChart" width="400" height="250"></canvas>
  </p>
</div>








